<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg"
          href="/icon">
    <title>GSB Chat | Index</title>
    <link rel="stylesheet" href="./output.css">
</head>
<body class="text-center bg-slate-600 text-white">
<h1><b>Willkommen im GSB-Chat</b></h1>
<br>
<div style="top: 0; width: 300px" class="fixed  border-2 border-slate-400 py-4">
    <b>Eingeloggt als:</b>
    <p id="username"></p>
    <a href="/logout" class="border-2 border-slate-400 rounded mb-2">Ausloggen</a>
</div>
<a href="/login">
    <button class="border-slate-500 border-2 rounded hover:bg-slate-700">Einloggen</button>
</a>
<div class="flex" style="justify-content: center;">
    <div class="border-slate-400 border-2 mt-10">
        <h2><b class="ml-5 mr-5 round">Chats</b></h2><br>
        {{range .Chats}}
            <a href="/chat?id={{.ID}}">{{.Name}}</a><br>
        {{end}}
    </div>
    <div class="border-slate-400 border-2 mt-10 ml-10">
        <h2><b class="ml-5 mr-5 round">Aktionen</b></h2>
    </div>
</div>

<script>
    document.getElementById("username").innerText = localStorage.getItem("username")
</script>
</body>
</html>