<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="/icon">
    <link rel="stylesheet" href="output.css">
    <title>GSB Chat | Login</title>
</head>
<body class="text-center bg-slate-600 text-white">
    <h1>Login</h1>
    <form class="mt-11" action="/login" method="post">
        <input name="username" class="rounded-xl pl-2 pr-2  bg-slate-700 cursor-pointer hover:bg-slate-800" type="text" placeholder="Benutzername"><br>
        <input name="password" class="rounded-xl pl-2 pr-2 mt-2 bg-slate-700 cursor-pointer hover:bg-slate-800" type="password" placeholder="Password"><br>
        <input name="password" class="rounded-xl pl-2 pr-2 mt-2 bg-slate-700 cursor-pointer hover:bg-slate-800" type="submit" value="Einloggen">
    </form>
    <div style="margin-left:25%; width: 60rem;" class="top-60 fixed rounded-xl border-2 border-red-400 text-red-400"><b>Wenn du keinen Account hast oder dich nicht einloggen kannst, melde dich bei einem Administrator</b></div>
</body>
</html>